import { StyleSheet } from 'react-native';
import { I{{ComponentName}}Props } from './types';

export const useStyles = (props: I{{ComponentName}}Props) => {
  return StyleSheet.create({
    container: {
      flex: 1,
    },
  });
};
