import type { I{{ComponentName}}Props } from '../../types/I{{ComponentName}}Props';
import type { IUse{{ComponentName}}ViewModelReturn } from './types';

export const use{{ComponentName}}ViewModel = (
  props: I{{ComponentName}}Props,
): IUse{{ComponentName}}ViewModelReturn => {
  // state, effects, handlers

  return {};
};
